@import "../styles/Utilities.scss";

.footer {
    height: 60vh;
    width: 100%;
    color: #fff;
    padding: .5rem;
    background-color: #333;
    // border: 1px solid #333;

    >.top {
        height: 85%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        // border: 2px solid #333;

        .box {
            height: 100%;
            padding: .5rem;
            // border: 1px solid #333;

            h2 {
                text-transform: uppercase;
                font: 700 1.5rem "Inter";
            }

            p {
                font: 500 1rem "Inter";
            }
        }

        .left {
            height: 60%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .right {
            height: 60%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;


            .social {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                svg {
                    padding: 6px;
                    font-size: 2.8rem;
                    color: #fff;
                    border-radius: 5px;

                    &:hover {
                        background: $bg-gradient;
                    }
                }
            }
        }
    }

    .bottom {
        font-family: "Inter";
        padding: 0 1rem;
        display: flex;
        height: 15%;
        justify-content: space-between;
        // border: 1px solid #fff;
        align-items: center;
        padding: 6px;

        .rights {
            // border: 1px solid #fff;
        }

        .scrollUp {
            height: 100%;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #333;
            border-radius: 6px;
            background-color: #fff;
            // border: 1px solid #fff;
             &:hover {
                background: $bg-gradient;
                border-radius: 6px;
                cursor: pointer;
             }
             &:hover svg{
                color: white;
             }

        }
    }
}