@import "../styles/Utilities.scss";

.header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: background-color .3s ease-in-out;
    // border: 2px solid #333;

    >.logo {
        color: white;
        height: 60%;
        display: flex;
        align-items: center;
        border-radius: 6px;
        background-color: #333;
        // border: 1px solid #333;

        h2 a {
            padding: 10px 8px;
            color: #fff;
            font: bold 2rem "Inter";
            text-transform: uppercase;
            transition: .3s ease-in-out;

            &:hover {
                background-color: #fff;
                color: #333;
                cursor: pointer;
                border-radius: 6px;
            }
        }
    }

    >.nav-items {
        width: 50%;
        // border: 2px solid #333;

        ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            li {
                font: bold .8rem "Inter";
                text-transform: uppercase;

                a {
                    padding: 8px 5px;
                    color: white;

                    &:hover {
                        border-bottom: 2px solid #fff;
                        color: #fff;
                    }
                }

                // &:hover {
                //     cursor: pointer;
                //     border-bottom: 2px solid #fff;

                // }
            }
        }
    }
}

.scrolled {
    background-color: #333;

    >.logo {

        // background-color: #fff;
        h2 {
            color: #fff;
        }

        &:hover h2 {
            color: $primary-color;
        }
    }

    .nav-items {

        ul {
            li:hover {
                color: #fff;
            }
        }
    }
}