@import "../styles/Utilities.scss";

.myWork {
    height: 130vh;
    width: 100%;
    border: 2px solid #333;

    >.head {
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 2px solid #333;

        h3 {
            width: 10%;
            text-align: center;
            background-color: rgb(243, 240, 240);
            text-transform: uppercase;
            padding: 14px;
            border-radius: 5px;
            text-transform: uppercase;
            font: 500 1rem "Work Sans";
        }
    }

    >.bottom {
        height: 80%;
        width: 100%;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

.experience {
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #333;
    border-radius: 5px;

    >.top {
        height: 100%;
        width: 100%;
        padding: 0;

        img {
            height: 50%;
            width: 100%;
            border: 1px solid #333;
        }
    }

    >.bottom {
        padding: 5px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;

        h3 {
            text-transform: uppercase;
            font: 600 1rem "Roboto";
        }

        p {
            text-align: justify;
            font: 400 1rem "Inter";
        }

        .links {
            display: flex;
            flex-direction: row;
            // justify-content: ;
            gap: 1rem;
            align-items: center;

            a {
                font: 500 1rem "Roboto";
            }
        }
    }
}